body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align:center;
    background: #cad7e4;
    color: #274376;
    border-bottom: 6px solid #c0d0cb;
    border-radius: 5px;
}